@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 767px) {
    header .container nav ul{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        text-align: center;
        transform: translateY(-300px);
     }

     header .container nav ul li{
        display: block;
        padding: 10px 0;

     }

     .menu__btn{
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
     }
}
@media only screen and (max-width: 420px) {
 header .container nav ul{
    display: none;
 }
 .menu__btn{
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
 }
}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}