*{
    padding: 0;
    margin: 0;
}

html{
    overflow-x: hidden;
}

/*HEADER*/
header{
    background-color: black;
    padding: 20px 0;
}
.container{
    max-width: 1188px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: inline-block;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type{
    margin-left: 31px;

}
header nav ul li:last-of-type a{
    padding: 11px 20px;
    background-color: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
/*HEADER*/


/*MAIN&BANER*/
.main__baner{
    background-image: url("../img/IMAGE.jpg");
    background-size: cover;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 71px;
    position: relative;
}
.main__baner .container{
    max-width: 580px;
    margin: inherit;
    text-align: center;
}
.main__baner h3{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main__baner h1{
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
}
.main__baner p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.components{
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 41px;
    list-style: none;
}
.components li{
    margin-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.components li:before{
    content: "";
    display: inline-block;
    background-image: url("../img/icon_4.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}
.components li:nth-child(2):before{
    background-image: url("../img/icon_3.svg");
}
.components li:nth-child(3):before{
    background-image: url("../img/icon_2.svg");
    width: 32px;
}
.components li:nth-child(4):before{
    background-image: url("../img/icon_1.svg");
    width: 10px;
}
/*MAIN&BANER*/

.about__us {
    background-color: black;
    padding: 120px 0 100px;
  }
  
  .inner__about__us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .about__us .container h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  
  .about__us .container h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 40px;
  }
  
  .inner__img {
    max-width: 576px;
  }
  
  .inner__img img {
    width: 100%;
    display: block;
    margin-bottom: 18px;
  }
  
  .inner__content__text {
    max-width: 516px;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  
  .inner__content {
    position: relative;
  }
  
  .inner__content__text h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 19px;
  }
  
  .inner__content__text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 24px;
    
  }
  
  .inner__content__text a {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 13px 11px 42px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    position: relative;
    
  }
  
  
  .inner__content__text a::before {
    content: "";
    display: inline-block;
    background-color: black;
    border-radius: 14px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: 4px;
  }



.second__banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 62px;
    background-image: url("../img/IMAGE.2.jpg");
    background-size: cover;
    height: 78vh;
    position: relative;
}
.second__banner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.second__banner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
 




.three__banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 62px;
    background-image: url("../img/IMAGE.3.jpg");
    background-size: cover;
    height: 80vh;
    position: relative;
}

.three__banner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.three__banner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*SECTION&CLIENTS*/
.our__clients{
    background-color: black;
    padding-top: 120px;
    padding-bottom: 100px;
}
.our__clients.container{
    max-width: 1200px;
    margin: inherit;
}
.clients__title{
    text-align: center;
}
.clients__title h3{
    font-weight: 400;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 42px;
    padding-bottom: 15px;
}
.clients__title h4{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    padding-bottom: 82px;
}
.clients__logo{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    align-items: center;
}
.clients__logo a{
    min-width: 128px;
    display: inline-block;
}
.clients__logo a img{
    width: 100%;
    display: block;
}

.owl-stage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.four__banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 62px;
    background-image: url("../img/4ce.jpg");
    background-size: cover;
    height: 80vh;
    position: relative;
}
.four__banner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.four__banner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*SECTION&CLIENTS*/

/*SECTION&HELP*/

.help__baner{
    background-color: black;
    padding-top: 113px;
    display: flex;
    justify-content: center;
    padding-bottom: 108px;

}
.help__baner .container{
    max-width: 600px;
    margin: inherit;
    text-align: center;
}
.help__baner h3{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.help__baner h4{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    padding-bottom: 22px;
}
.help__baner a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 10px 11px 42px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    position: relative;
    align-items: center;

}
.help__baner a::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 5px;
    border-radius: 14px;
}

/*SECTION&HELP*/

.menu__btn{
    width: 40px;
    height: 30px;
    display: none;
}

.menu__btn span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ffff;
    position: absolute;
    left: 0;
    top: 14px;
}
.menu__btn::after,
.menu__btn::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #ffff;
    left: 0;
}

.menu__btn::before{
    top: 0;
}

.menu__btn::after{
    bottom: 0;
}










